{% extends "base.html" %}

{% block main_content %}

<p id="introduction-text">
    Generate random "inspirational" quotes images: get a random picture for the given background theme, and use a large language model to try to find an associated quote.
</p>

<!-- Form -->
{% include 'components/form.html' %}

<!-- Loading display -->
{% include 'components/loading.html' %}

<!-- Error display -->
{% include 'components/error.html' %}

<!-- Result display -->
{% include 'components/result.html' %}

{% endblock %}
