:root {
    --pico-block-spacing-vertical: 5rem;
}

.center-text {
    text-align: center;
}

header {
    padding-bottom: 0px !important;
}

#form-submit {
    margin-bottom: calc(var(--pico-spacing) / 2);
}

#introduction-text {
    padding-bottom: var(--pico-spacing);
}

#loading {
    width: 100%;
    text-align: center;
}

#loading-emoji {
    font-size: 124px;
    display: inline-block;
    animation: spin 1s infinite linear;
}

#loading-bar {
    width: 30%;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

    from {
        transform: rotate(0deg)
    }
}
